@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Students' grades: Technical Test</h1>
    <p class="lead">This web application is the result of a technical test requested by the Rauxmedia Team.</p>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Students' Grades Management ", "Index", "StudentGrades")
    </div>
</div>